<?xml version="1.0"?>
<config>
    <modules>
        <Xfers>
            <version>1.0</version>
            <depends>
                <Mage_Payment />
            </depends>
        </Xfers>
    </modules>
    <global>
    	<models>
    		<xfers>
	    		<class>Xfers_Model</class>
	    	</xfers>
    	</models>
    	<helpers>
    		<xfers>
    			<class>Xfers_Helper</class>
    		</xfers>
    	</helpers>
    	<blocks>
            <xfers>
            	<class>Xfers_Block</class>
            </xfers>
        </blocks>
        <resources>
            <xfers_setup>
                <setup>
                    <module>Xfers</module>
                </setup>
                <connection>
                    <use>directory_setup</use>
                </connection>
            </xfers_setup>
            <xfers_write>
                <connection>
                    <use>local_write</use>
                </connection>
            </xfers_write>
            <xfers_read>
                <connection>
                    <use>local_read</use>
                </connection>
            </xfers_read>
        </resources>
    </global>
    <admin>
    	<routers>
        	<adminhtml>
            	<use>admin</use>
            	<args>
                	<Xfers before="Mage_Adminhtml">Xfers_Adminhtml</Xfers>
            	</args>
        	</adminhtml>
 		</routers>
 	</admin>
    <frontend>
        <routers>
            <xfers>
                <use>standard</use>
                <args>
                    <module>Xfers</module>
                    <frontName>xfers</frontName>
                </args>
            </xfers>
        </routers>
        <layout>
            <updates>
                <xfers>
                    <file>xfers.xml</file>
                </xfers>
            </updates>
        </layout>
    </frontend>
	<default>
        <payment>
            <xfers>
                <active>1</active>
                <api_url>https://sandbox.xfers.io/api/v2/payments</api_url>
                <model>xfers/xfers</model>
                <order_status>1</order_status>
                <title>Xfers</title>
                <allowspecific>0</allowspecific>
            </xfers>
        </payment>
    </default>
</config>
