<?xml version="1.0"?>
<!--

-->
<config>
    <sections>
        <payment translate="label" module="payment">
        	<groups>
        		<xfers translate="label">
                    <label>Xfers </label>
					<comment>
						<![CDATA[<br />
						<div class="custom-options">
						<div class="box">
											
                          <p>Xfers Magento Plugin v2.2</p>
						<p><b>Please remember to change the URL depending on your preferences (either for testing or production purpose).</b></p>
						
						<p><u><b>API URL</b></u></p>
						<p>Test URL:		   https://sandbox.xfers.io/api/v2/payments</p>
						<p>Production URL:	   https://www.xfers.io/api/v2/payments</p>
						</div>
						</div>
						]]>
					</comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                         <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
						<api_key translate="label">
							<label>API Key</label>
							<frontend_type>text</frontend_type>
							<sort_order>61</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</api_key>
						<api_secret translate="label">
							<label>API Secret</label>
							<frontend_type>text</frontend_type>
							<sort_order>61</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</api_secret>
						<api_url translate="label">
							<label>API URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>62</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</api_url>
                        <order_status translate="label">
                            <label>New order status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status_newprocessing</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status>
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>
                        <min_order_total>
                            <label>Minimum Order Total</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>98</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </min_order_total>
                        <max_order_total>
                            <label>Maximum Order Total</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>99</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max_order_total>
                    </fields>
                </xfers>
        	</groups>
        </payment>
    </sections>
</config>
